Prototype 1/Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Prototype 1/Library/
Prototype 1/Temp/
Prototype 2/Library/PackageCache/com.unity.test-framework@1.1.31/UnityEditor.TestRunner/TestRunnerWindow.cs.meta
Prototype 2/Library/PackageCache/
Prototype 2/Temp/
Prototype 2/Library/ShaderCache/shader/ShadowsMidtonesHighlightsCurves95e1/00/8e92d70225692845a8fcf54781a1f1a4.bin
Prototype 2/Library/
